Repository AvinashMahala/PropertyDataManagementSystem, pull requests merged in 2023-05, with the labels that each got.

#15 Created Initial Version of The Readme
  .github/images/fixed-asset.png
  LICENSE.md
  README.md
Labels: documentation

#16 [6][Invalid Date showing for newly created Owner Details]
  frontend/src/components/adminView/AdminDashBoardPageUsingMRT.tsx
  frontend/src/components/ownerDetails/OwnerDetailsLoggedInView.tsx
  frontend/src/components/ownerDetails/commonElement/Strategy/ActionStrategy.ts
  frontend/src/components/ownerDetails/commonElement/Strategy/CreateNewRowStrategy.ts
  frontend/src/components/ownerDetails/commonElement/Strategy/DeleteRowStrategy.ts
  frontend/src/components/ownerDetails/commonElement/Strategy/SaveRowEditsStrategy.ts
Labels: bug, frontend

#38 [Code Refactoring] Seprate out getCommonEditTextFieldProps method into new file as a part of code Refactoring
  frontend/src/components/ownerDetails/OwnerDetailsLoggedInView.tsx
  frontend/src/components/ownerDetails/commonElement/Factory/GridFactory.tsx
  frontend/src/components/ownerDetails/commonElement/GetEditTextFieldProps.ts
Labels: code refactoring, frontend

#39 [Code Refactoring] Separate Out Create New Modal Component Implementa…
  frontend/src/components/ownerDetails/OwnerDetailsLoggedInView.tsx
  frontend/src/components/ownerDetails/commonElement/CreateNewOwnerDetailsModal.tsx
Labels: code refactoring, frontend
